<plugin name='ddb-common' version='0.1' grailsVersion='2.2 &gt; *'>
  <author>FIZ Karlsruhe</author>
  <title>Ddb Common Plugin</title>
  <description>    This plugin provides common classes for DDB projects like DDB-NEXT or APD 
    </description>
  <type>DdbCommonGrailsPlugin</type>
  <resources>
    <resource>de.ddb.common.beans.Bookmark</resource>
    <resource>de.ddb.common.beans.Folder</resource>
    <resource>de.ddb.common.beans.Item</resource>
    <resource>de.ddb.common.beans.SavedSearch</resource>
    <resource>de.ddb.common.beans.SearchQueryTerm</resource>
    <resource>de.ddb.common.beans.User</resource>
    <resource>de.ddb.common.AasService</resource>
    <resource>de.ddb.common.ApisService</resource>
    <resource>de.ddb.common.BookmarksService</resource>
    <resource>de.ddb.common.ConfigurationService</resource>
    <resource>de.ddb.common.CultureGraphService</resource>
    <resource>de.ddb.common.FacetsService</resource>
    <resource>de.ddb.common.FavoritesService</resource>
    <resource>de.ddb.common.ItemService</resource>
    <resource>de.ddb.common.NewsletterService</resource>
    <resource>de.ddb.common.SavedSearchService</resource>
    <resource>de.ddb.common.SavedSearchesService</resource>
    <resource>de.ddb.common.SearchService</resource>
    <resource>de.ddb.common.SessionService</resource>
    <resource>de.ddb.common.IsLoggedInTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://repo.opengeo.org/' url='http://repo.opengeo.org/' />
    <repository name='http://download.osgeo.org/webdav/geotools/' url='http://download.osgeo.org/webdav/geotools/' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='org.codehaus.groovy.modules.http-builder' name='http-builder' version='0.6' />
      <dependency group='org.openid4java' name='openid4java' version='0.9.8' />
    </runtime>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>